<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" parallel="methods" name="Single Trip">
  <test thread-count="2" parallel="methods" name="Single Trip with payment">
    <classes>
      <class name="com.goibibo.testcases.SingleTripTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
